<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>InvestEazy</title>
  <style>
      body{
        background: #2c3853;
        color: white;
        }

        .form{
        height: 100vh;
        display: flex;
        font-style: roboto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        .elm{
        background: #2c3853;
        padding: 0px 50px 100px 50px;
        text-align:center;
        color: white;
}
  </style>
</head>
<body>
  <div class="form">
    <div class="elm z-depth-3">
      <form action="#" method="POST">
        <h4>InvestEazy</h4>
      <h6>A Python and Flask based Stock Quote Module</h6>
      <p>InvestEazy aims at providing exploratory insights on company performance</p>
      <input type="text" name=nm>
        <button class="btn">search</button>
      </form>
    </div>
  </div>
</body>
</html>